
.header-image-menu {
    top: 10px;
    position: relative;
}
.header-image-menu img {
    width: 100%;
    margin: none;
    padding: none;
}
.image-text {
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: red;
    transform: translate(-30%, -30%);
    text-align: center;
}

header {background-color: #0b0b0b;}

p100 {
    font-family: fantasy;
    font-size: 36px;
    color: lawngreen;
    position: relative;
    top: 10px;
    padding-left: 50px;
}

.logo {
    background-color: #0b0b0b;
}
.header {
    background-color: #0b0b0b;
}


html, body{
    height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12pt;
}
         
h1, h2 {
    margin: 0;
    padding: 0;
    color: #404040;
    font-family:monospace ;
}
h3 {
    margin: 0;
    padding: 0;
    font-family:cursive;
    font-style:italic;
}
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{    
    margin: 0px auto;
    width: 1400px;
}
header {
    overflow: hidden;
}

.top-header {
    text-align: center;
    height: 60px;
}
.logo {
    float: left;
    padding: none;
    margin: none;
    height: 60px;
}
.menu {
    float: right;
    width: 80%;
    height: 100%;
    margin: none;
}
     
.menu ul {
    text-align: center;
    float: right;
    margin: none;
    background: #404040;
}
     
.menu li {
    display: inline-block;
    padding: none;
    margin: none;
}
     
.menu li a, .menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
.menu li a{
         
    color: #FFF;
}
     
.menu li:hover a, .menu li span{
    background: #FFF;
    color: #404040;
    border-left: 1px solid #404040;
    text-decoration: none;
}

h3 {
    text-align: center;
    color: lawngreen;
    font-size: 42px;
}
.about {
    background:steelblue;
    padding: 50px;
    border-width: 2px;
    border-style: solid;
    border-color:blueviolet;
}
p1 {
    color: lawngreen;
    font-size: 24px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    margin: 1em 0;
}
section h1 {
    text-transform: uppercase;
}
.box {
    float: left;
    padding: 1.5em 1em;
    width: 300px;
    height: 400px;
    background-color:lightgreen;
    margin: auto;
    padding-left: 25px;
    text-align:center;
    display:block;
}
  .box h1 {
      text-align: center;
      color: lawngreen;
    }
  .box p {
    margin-top: 4em;
    height: 6em;
    text-align: justify;
    color: black;
  }
body {
    background-color: dimgray;
}
.footer {
    padding:10px;
    color:mediumblue;
    background:lightslategrey;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 665px;
}
img {
    height: 1000px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}