.header-image-menu {
    top: 10px;
    position: relative;
}
.header-image-menu img {
    width: 100%;
    margin: none;
    padding: none;
}
.image-text {
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: red;
    transform: translate(-30%, -30%);
    text-align: center;
}

header {background-color: #0b0b0b;}

p1 {
    font-family: fantasy;
    font-size: 36px;
    color: lawngreen;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

.logo {
    background-color: #0b0b0b;
}
.header {
    background-color: #0b0b0b;
}


html, body{
    height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12pt;
}
         
h1 {
    margin: 0;
    padding: 0;
    color: #404040;
    font-family:monospace ;
}

ol, ul{
    margin-top: 0;
}

 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{    
    margin: 0px auto;
    width: 1400px;
}
header {
    overflow: hidden;
}

.top-header {
    text-align: center;
    height: 60px;
}
.logo {
    float: left;
    padding: none;
    margin: none;
    height: 60px;
}
.menu {
    float: right;
    width: 80%;
    height: 100%;
    margin: none;
}
     
.menu ul {
    text-align: center;
    float: right;
    margin: none;
    background: #0074D9;
}
     
.menu li {
    display: inline-block;
    padding: none;
    margin: none;
}
     
.menu li a, .menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
.menu li a{
         
    color: #FFF;
}
     
.menu li:hover a, .menu li span{
    background: #FFF;
    color: #404040;
    border-left: 1px solid #404040;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 45px;
}
body {
    background-color: cadetblue;
}

.footer {
    padding:10px;
    color:mediumblue;
    background:lightslategrey;
    text-align: center;
}
.pad {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3, h1 {
    text-align: center;
    font-size: 48px;
    color: lawngreen;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p2 {
    font-size: 24px;
}
.change {
    font-size: 24px;
}
.utg, .utg1, .utg2, .mp, .hj, .co, .bu, .sb, .positions {
    float: left;
    padding: 15px;
    font-size: 24px;
}


