
.header-image-menu {
    top: 10px;
    position: relative;
}
.header-image-menu img {
    width: 100%;
    margin: none;
    padding: none;
}
.image-text {
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: red;
    transform: translate(-30%, -30%);
    text-align: center;
}

header {background-color: #0b0b0b;}

p1 {
    font-family: fantasy;
    font-size: 36px;
    color: lawngreen;
    position: relative;
    top: 10px;
    left: 100px;
}

.logo {
    background-color: #0b0b0b;
}
.header {
    background-color: #0b0b0b;
}


html, body{
    height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12pt;
}
         
h1, h2, h3{
    margin: 0;
    padding: 0;
    color: #404040;
}
     
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{    
    margin: 0px auto;
    width: 1200px;
}
header {
    overflow: hidden;
}

.top-header {
    text-align: center;
    height: 60px;
}
.logo {
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
.logo img {
    width: 60%;
    float: left;
    padding: 10px 0px;
}
.menu {
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
     
.menu ul {
    text-align: center;
    float: right;
    margin: none;
    background: #0074D9;
}
     
.menu li {
    display: inline-block;
    padding: none;
    margin: none;
}
     
.menu li a, .menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
.menu li a{
         
    color: #FFF;
}
     
.menu li:hover a, .menu li span{
    background: #FFF;
    color: #0074D9;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}
table, th, tr, td {
    border: 2px solid lightgray;
    font-family: Arial; 
    margin-right: auto; 
    margin-left: auto; 
    text-align: center;
}
table, caption {
    padding-top: 50px;
}
caption {
    font-size: 48px;
    position: relative;
    top: -25px;
}
img.edit {
    width: 183px;
    height: 275px;
}
th, td {
    padding:25px;
}
.footer {
    padding:10px;
    color:mediumblue;
    background:lightslategrey;
    text-align: center;
}
table {
    background-color: mistyrose;
}
body {
    background-color: palegreen;
}
.last {
    padding-bottom: 50px;
}